@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --element-bg: white;
  --input-color: hsl(0, 0%, 52%);
  --text-color: hsl(200, 15%, 8%);
  --main-bg: hsl(0, 0%, 98%);
  
  --border-radius: 0.5rem;
  &.dark-mode {
    --element-bg: hsl(209, 23%, 22%);
    --input-color: white;
    --text-color: white;
    --main-bg: hsl(207, 26%, 17%);
  }
}

* {
  transition: 0.3s;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  transition: 0.3s;

  #app {
    flex-grow: 1;
    max-width: 120rem;
  }
}

body,
button,
input,
textarea,
select,
option {
  font-family: "Nunito Sans", sans-serif;
}

button,
input {
  border-style: solid;
}

button {
  &:hover {
    cursor: pointer;
  }
}
